apiVersion: apps/v1
kind: Deployment
metadata:
  name: sabnzbd
  namespace: sabnzbd
  labels:
    app: sabnzbd
  annotations:
    backup.velero.io/backup-volumes-excludes: media-root,appdata
    ignore-check.kube-linter.io/run-as-non-root: "Application requires root for PUID/PGID mapping at startup"
    ignore-check.kube-linter.io/no-read-only-root-fs: "Legacy application requires writeable root for internal updates/logging"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: sabnzbd
  template:
    metadata:
      labels:
        app: sabnzbd
    spec:
      containers:
        - name: sabnzbd
          image: lscr.io/linuxserver/sabnzbd:v4.5.5-ls244
          imagePullPolicy: Always
          resources:
            requests:
              memory: "1Gi"
              cpu: "500m"  # Guarantee 0.5 cores
            limits:
              memory: "8Gi"  # Cap it before it eats the whole node
              cpu: "4000m"  # Allow it to burst up to 4 cores, but no more
          ports:
            - containerPort: 8082
          env:
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
            - name: TZ
              value: "America/Toronto"
          volumeMounts:
            - name: appdata
              mountPath: /config
              subPath: appdata/linuxserver-sabnzbd/config
            - name: media-root
              mountPath: /media
      volumes:
        - name: appdata
          persistentVolumeClaim:
            claimName: pvc-appdata
        - name: media-root
          persistentVolumeClaim:
            claimName: pvc-media-library
