apiVersion: cilium.io/v2alpha1
kind: CiliumBGPClusterConfig
metadata:
  name: bgp-cluster-config
spec:
  nodeSelector:
    matchLabels:
      node-role.kubernetes.io/control-plane: "true"
  bgpInstances:
    - name: "instance-65512"
      localASN: 65512
      peers:
        - name: "peer-65510"
          peerASN: 65510
          peerAddress: 172.16.8.1
          peerPort: 179
          peerConfigRef:
            name: "cilium-peer-config"
---
apiVersion: cilium.io/v2alpha1
kind: CiliumBGPPeerConfig
metadata:
  name: cilium-peer-config
spec:
  families:
    - afi: ipv4
      safi: unicast
      advertisements:
        matchLabels:
          advertise: "bgp"
---
apiVersion: cilium.io/v2alpha1
kind: CiliumBGPAdvertisement
metadata:
  name: bgp-advertisements
  labels:
    advertise: "bgp"
spec:
  advertisements:
    - advertisementType: "PodCIDR"
    - advertisementType: "Service"
      service:
        addresses:
          - LoadBalancerIP
      selector:
        matchExpressions:
          - {key: cilium-lb-no-advertise, operator: NotIn, values: ['true']}
---
apiVersion: cilium.io/v2alpha1
kind: CiliumLoadBalancerIPPool
metadata:
  name: main-pool
  namespace: kube-system
spec:
  blocks:
    - cidr: "172.16.18.0/27"
      # This provides IPs from 192.168.10.32 to 192.168.10.63
      # Reserve specific IPs for known services:
      # - 172.16.18.1: Gateway External
      # - 172.16.18.30: Gateway Internal
      # - Remaining 30 IPs for other LoadBalancer services
  allowFirstLastIPs: "No"