apiVersion: cilium.io/v2alpha1
kind: CiliumBGPClusterConfig
metadata:
  name: bgp-cluster-config
spec:
  nodeSelector:
    matchLabels:
      kubernetes.io/os: linux
  bgpInstances:
    - name: "instance-65512"
      localASN: 65512
      peers:
        - name: "peer-65510"
          peerASN: 65510
          peerAddress: 172.16.8.1
          peerConfigRef:
            name: "cilium-peer-config"
---
apiVersion: cilium.io/v2alpha1
kind: CiliumBGPPeerConfig
metadata:
  name: cilium-peer-config
spec:
  timers:
    holdTimeSeconds: 9
    keepAliveTimeSeconds: 3
  families:
    - afi: ipv4
      safi: unicast
      advertisements:
        matchLabels:
          advertise: "bgp"
---
apiVersion: cilium.io/v2alpha1
kind: CiliumBGPAdvertisement
metadata:
  name: bgp-advertisements
  labels:
    advertise: "bgp"
spec:
  advertisements:
    - advertisementType: "Service"
      service:
        addresses:
          - LoadBalancerIP
      selector:
        matchExpressions:
          - {key: cilium-lb-no-advertise, operator: NotIn, values: ['true']}
---
apiVersion: cilium.io/v2alpha1
kind: CiliumLoadBalancerIPPool
metadata:
  name: main-pool
  namespace: kube-system
spec:
  blocks:
    - cidr: "172.16.18.0/27"
      # This provides IPs from 172.16.18.1 to 172.16.18.30
      # Reserve specific IPs for known services:
      # - 172.16.18.1: Gateway External
      # - 172.16.18.30: Gateway Internal
      # - Remaining 30 IPs for other LoadBalancer services
  allowFirstLastIPs: "No"