apiVersion: apps/v1
kind: Deployment
metadata:
  name: radarr
  namespace: radarr
  labels:
      app: radarr
spec:
  replicas: 1
  selector:
    matchLabels:
      app: radarr
  template:
    metadata:
      labels:
        app: radarr
    spec:
      containers:
        - name: radarr
          image: lscr.io/linuxserver/radarr:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 7878
          env:
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
            - name: TZ
              value: "America/Toronto"
          volumeMounts:
            - name: media-root
              mountPath: /movies
              subPath: movies
            - name: appdata
              mountPath: /config
              subPath: appdata/linuxserver-radarr-2/config
            - name: downloads
              mountPath: /complete
              subPath: downloads/complete
      volumes:
        - name: media-root
          persistentVolumeClaim:
            claimName: pvc-media-library
        - name: appdata
          persistentVolumeClaim:
            claimName: pvc-appdata
        - name: downloads
          persistentVolumeClaim:
            claimName: pvc-radarr-downloads