namespace: kube-system
isClusterService: true
replicaCount: 1

prometheus:
  service:
    enabled: false

resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 100m
    memory: 128Mi

serviceAccount:
  create: true
  namespace: kube-system

rbac:
  create: true

servers:
  - zones:
    - zone: .
    port: 53
    plugins:
      - name: errors
      - name: health
        configBlock: | -
          lameduck 5s
      - name: ready
      - name: kubernetes
        parameters: cluster.local in-addr.arpa ip6.arpa
        configBlock: |-
          pods insecure
          fallthrough in-addr.arpa ip6.arpa
          ttl 30
      - name: hosts
        parameters: /etc/coredns/NodeHosts
        configBlock: |-
          fallthrough
      - name: forward
        parameters: . 1.1.1.1 8.8.8.8
        configBlock: |-
          prefer_udp
          policy sequential
      - name: cache
        parameters: 30
      - name: loop
      - name: reload
      - name: loadbalance