apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: longhorn-system
resources:
  - ns.yaml
  - httproute.yaml
  #- externalsecret.yaml # used for backup configuration
  - node-failure-settings.yaml
  #- recurring-jobs.yaml # used for backup configuration
  #- backup-settings.yaml # used for backup configuration
helmCharts:
  - name: longhorn
    repo: https://charts.longhorn.io
    version: 1.10.1
    releaseName: longhorn
    namespace: longhorn-system
    valuesFile: values.yaml
    includeCRDs: true