apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: argocd
resources:
  - ns.yaml
  - http-route.yaml
helmCharts:
  - name: argo-cd
    repo: https://argoproj.github.io/argo-helm
    version: "9.1.3" # It's good practice to pin the chart version
    releaseName: argocd
    namespace: argocd
    valuesFile: values.yaml
    includeCRDs: true