apiVersion: apps/v1
kind: Deployment
metadata:
  name: sonarr
  namespace: sonarr
  labels:
      app: sonarr
spec:
  replicas: 1
  selector:
    matchLabels:
      app: sonarr
  template:
    metadata:
      labels:
        app: sonarr
    spec:
      containers:
        - name: sonarr
          image: lscr.io/linuxserver/sonarr:4.0.16
          imagePullPolicy: Always
          ports:
            - containerPort: 8989
          env:
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
            - name: TZ
              value: "America/Toronto"
          volumeMounts:
            - name: media-root
              mountPath: /media
            - name: appdata
              mountPath: /config
              subPath: appdata/linuxserver-sonarr-2/config
            #- name: downloads
            #  mountPath: /complete
            #  subPath: downloads/complete
      volumes:
        - name: media-root
          persistentVolumeClaim:
            claimName: pvc-media-library
        - name: appdata
          persistentVolumeClaim:
            claimName: pvc-appdata
        #- name: downloads
        #  persistentVolumeClaim:
        #    claimName: pvc-sonarr-downloads