apiVersion: apps/v1
kind: Deployment
metadata:
  name: sonarr
  namespace: media
  labels:
      app: sonarr
spec:
  replicas: 1
  selector:
    matchLabels:
      app: sonarr
  template:
    metadata:
      labels:
        app: sonarr
    spec:
      containers:
        - name: sonarr
          image: lscr.io/linuxserver/sonarr:4.0.16
          imagePullPolicy: Always
          ports:
            - containerPort: 8989
          env:
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
            - name: TZ
              value: "America/Toronto"
          volumeMounts:
            - name: media-root
              mountPath: /data        # Mount the ENTIRE media root here
            - name: appdata
              mountPath: /config
              subPath: appdata/linuxserver-sonarr-2/config
      volumes:
        - name: media-root
          persistentVolumeClaim:
            claimName: pvc-media-library
        - name: appdata
          persistentVolumeClaim:
            claimName: pvc-appdata