# Configure Network Ports and EntryPoints
# EntryPoints are the network listeners for incoming traffic.
ports:
  # Defines the HTTP entry point named 'web'
  web:
    port: 80
    nodePort: 30000
    # Instructs this entry point to redirect all traffic to the 'websecure' entry point
    #redirections:
    #  entryPoint:
    #    to: websecure
    #    scheme: https
    #    permanent: true

  # Defines the HTTPS entry point named 'websecure'
  websecure:
    port: 443
    nodePort: 30001

  traefik:
    port: 9000
    expose: true      # Critical: Adds this port to the K8s Service
    protocol: TCP

# Enables the dashboard in Secure Mode
api:
  dashboard: true
  insecure: false

ingressRoute:
  dashboard:
    enabled: false
    matchRule: Host(`traefik.labber.mcmn.io`)
    entryPoints:
      - websecure
    middlewares:
      - name: dashboard-auth

# Creates a BasiAuth Middleware and Secret for the Dashboard Security
extraObjects:
  - apiVersion: traefik.io/v1alpha1
    kind: Middleware
    metadata:
      name: dashboard-auth
    spec:
      basicAuth:
        secret: traefik-portal-credentials

# We will route with Gateway API instead.
ingressClass:
  enabled: false

service:
  enabled: true
  type: LoadBalancer
  annotations:
    io.cilium/lb-ipam-ips: "172.16.18.2"
    externalTrafficPolicy: Local

# Enable Gateway API Provider & Disables the KubernetesIngress provider
# Providers tell Traefik where to find routing configuration.
providers:
  kubernetesIngress:
     enabled: false
  kubernetesGateway:
     enabled: true

## Gateway Listeners
gateway:
  annotations:
    cert-manager.io/cluster-issuer: cloudflare-cluster-issuer
  listeners:
    web:           # HTTP listener that matches entryPoint `web`
      port: 80
      hostname: "*.labber.mcmn.io"
      protocol: HTTP
      namespacePolicy:
        from: All

    websecure:         # HTTPS listener that matches entryPoint `websecure`
      port: 443
      hostname: "*.labber.mcmn.io"
      protocol: HTTPS  # TLS terminates inside Traefik
      namespacePolicy:
        from: All
      mode: Terminate
      certificateRefs:    
        - kind: Secret
          name: cert-labber-mcmn  # the Secret we created before the installation
          group: ""

# Enable Observability
logs:
  general:
    level: INFO
  # This enables access logs, outputting them to Traefik's standard output by default. The [Access Logs Documentation](https://doc.traefik.io/traefik/observability/access-logs/) covers formatting, filtering, and output options.
  access:
    enabled: true

# Enables Prometheus for Metrics
metrics:
  prometheus:
    enabled: false